
.container{
    position: relative;
}

header, .header__home, .header__filme{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   
    position: relative;
   
}

.header__home{
    background-image: url(../../imagens/img-mobile/spider-man-mobile.png);
}

