
/* 
    typical device breakpoints 

    small screens: max-width: 600px
    phone: max-width: 600px - 768px
    tablet: max-width: 768px - 992px
    desktop: max-width: 992px - 1024px
    extra large screens: above 1024px
*/
    

@media screen and (min-width: 600px) and (max-width: 768px) {
    
    header{
        background-image: url(../../imagens/img-desktop/spider-man-desktop.png);
        background-position: center;
    }

    .header__navBar__menu{  
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        background: transparent;
        flex-direction: row-reverse;
    }
  
    .menu__search-box:hover .search-box__text{
        width: 15rem; 
        
    }

    .header__navBar__menu__menuList li {
        display: inline-block;
    }
    .header__navBar__menu__menuList li:not(:last-child) {
        margin-right: 1rem;
    }

    .header__navBar__menu-icon{
        display: none;
    }
    .menu__icon-close{
        display: none;
    }

}


@media screen and (min-width: 769px) and (max-width: 992px) {
    
    header{
        background-image: url(../../imagens/img-desktop/spider-man-desktop.png);
        background-position: center;
    }

    .header__navBar__menu{  
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        background: transparent;
        flex-direction: row-reverse;
    }
  
    .menu__search-box:hover .search-box__text{
        width: 15rem; 
        
    }

    .header__navBar__menu__menuList li {
        display: inline-block;
    }
    .header__navBar__menu__menuList li:not(:last-child) {
        margin-right: 1rem;
    }

    .header__navBar__menu-icon{
        display: none;
    }
    .menu__icon-close{
        display: none;
    }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
   
    .button-icons{
        font-size: 3.5rem;
    }

    header{
        background-image: url(../../imagens/img-desktop/spider-man-desktop.png);
        background-position: center;
    }
   
    .header__navBar__menu{  
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        background: transparent;
        flex-direction: row-reverse;
    }
  
    .menu__search-box:hover .search-box__text{
        width: 15rem; 
        
    }

    .header__navBar__menu__menuList li {
        display: inline-block;
    }
    .header__navBar__menu__menuList li:not(:last-child) {
        margin-right: 1rem;
    }

    .header__navBar__menu-icon{
        display: none;
    }
    .menu__icon-close{
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    
    .button-icons{
        font-size: 3.5rem;
    }



    header, .header__home, .header__serie{
        background-position: center;
    }
    
    .header__home{
        background-image: url(../../imagens/img-desktop/spider-man-desktop.png);
    }
    
    .header__serie{
        background-image: url(../../imagens/img-desktop/moon-knight-desktop.png);
    }

    

    .header__navBar__menu{  
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        background: transparent;
        flex-direction: row-reverse;
    }
  
    .menu__search-box:hover .search-box__text{
        width: 15rem; 
        
    }

    .header__navBar__menu__menuList li {
        display: inline-block;
    }
    .header__navBar__menu__menuList li:not(:last-child) {
        margin-right: 1rem;
    }

    .header__navBar__menu-icon{
        display: none;
    }
    .menu__icon-close{
        display: none;
    }
}