

.social-media{
    padding: 0rem 0rem 2rem 2rem;
    position: absolute;
    bottom: 0rem;
}

.social-media__group li{
    display: inline-block;
    margin-right: 2rem;
}

.social-media__group .font__text{
    font-size: 1.8rem;
    text-decoration: none;
}
