






.description__marvel-studios{
    text-align: center;
    margin: 6rem 0rem;
}
.description__marvel-studios img{
    width: 28rem;
    margin-bottom: 1.8rem;
}

.description__marvel-studios .font__text{
    max-width: 37rem;
    margin: auto;
    padding: 0.8rem;
}



.carousel__text{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem
    
}


.container__carousel{
    margin-top: 1.5rem;
   max-width: 100%;
   display: flex;
   align-items: center;
   /* padding: 1.5rem;
   gap: 1rem; */
}
.container__carousel button{
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 50%;
    background-color: transparent;
}

.container__carousel button:hover{
    background-color:  #23232585;
}

.container__carousel__slides{
    
}

.container__carousel__filme{
    display: flex;
    align-items: center;
    justify-content: center;
    
    max-width: 31.4rem;
    min-height: 19.3rem;
   border-radius: 2rem;
   overflow: hidden;
   
}

.container__carousel__filme:not(:last-child){
    margin-right: 1rem;
}
.container__carousel__filme img{
    width: 100%;
}

.arrow-btn{
    font-size: 4rem;
    color: #fff;
    
    display: none;
}